@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');



/* general structure */
body {
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 120%;
    font-weight: 500;
}

hr {
    height: 0px;
    border: solid 1px black;
}

img {
    max-width: 100%;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
div.modal-dialog img {
    display: block;
    margin: auto;
}



/*============================
         TWINE STORY 
============================*/

tw-story {
    padding: 1em 10%;
    min-height: 100%;

    background-position: center;
    background-attachment: fixed;
    background-color: rgb(87, 71, 39);
    background-image: url("resources/table-with-book-bg.png");
    background-size: cover;

    font-family: "Dancing Script", serif;
}




/*============================
        TWINE PASSAGE 
============================*/

tw-passage {
    max-width: 900px;
    width: 100%;
    align-self: center;

    padding: 2em;
    margin-top: 3vh;
    margin-bottom: 4vh;

    background-color: rgb(255, 253, 236);
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.363);
    color: black;
}
tw-passage,
div.modal-dialog.article {
    background-image: url("resources/paper-texture.png");
    background-repeat: repeat;
    background-size: auto;
}




tw-story tw-consecutive-br {
    height: 0.5em;
}

tw-sidebar {
    display: none;

    /* debug properties TODO remove for release*/
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
}


/*==============================
    Twine Story and Passage
   Responsivness adjustments
==============================*/

/* narrow screen */
@media (max-width: 649px) {
    tw-story {
        padding: 5%;
    }
    tw-passage {
        padding: 1.5em;
        font-size: 85%;
        line-height: normal;
    }
}




/*============================
        TWINE LINKS 
============================*/
tw-link,
tw-link.visited {
    display: inline-block;
    color: #0000dc;
    
    transition: 300ms;
    left: 0;
    transition-property: left;
}
tw-link::before,
tw-link.visited::before {
    content: "›";
    display: block;
    width: 1.35rem;
    position: absolute;
    left: -1.35rem;
    top: -0.23rem;

    font-family: sans-serif;
    font-size: 1.7em;
    font-weight: 500;

    opacity: 0;
    pointer-events: none;

    transition: 300ms;
    transition-property: opacity;
}

tw-link:hover,
tw-link.visited:hover {
    color: #0000dc;
    left: 0.9em;
}
tw-link:hover::before,
tw-link.visited:hover::before {
    opacity: 1;
    pointer-events: auto;
}

tw-hook[name^="backlink"] tw-link::before {
    content: "‹";
}
tw-hook[name^="backtobeginning"] tw-link::before {
    content: "«";
}


/*==============================
    Page turning controlls
==============================*/

div.page-turning-wrapper {
    width: 100%;
    margin-top: 0.75em;

    display: flex;
    justify-content: space-between;
}

/* the ::before element already has some properties set
   from the normal default tw-link style section above */

/* Previous page link */
div.page-turning-prev tw-link::before {
    content: "‹ ";
    display: inline;

    position: relative;
    top: 0.1rem;
    left: inherit;

    opacity: 1;
    transition: none;
}
/* Next page link */
div.page-turning-next tw-link::before {
    content: none;
}
div.page-turning-next tw-link::after {
    content: " ›";
    display: inline;

    font-family: sans-serif;
    font-size: 1.7em;
    font-weight: 500;
    width: 1.35rem;
    position: relative;
    top: 0.1rem;
    
    opacity: 1;
    transition: none;
}

div.page-turning-prev tw-link,
div.page-turning-prev tw-link:hover,
div.page-turning-next tw-link,
div.page-turning-next tw-link:hover {
    left: unset;
}

@media (min-width: 650px) {
    /* ------------------------------------------------------
       Positioning the buttons BY THE SIDES of the passage
       And replacing them by ARROWS
       for bigger screens
    ------------------------------------------------------ */

    div.page-turning-wrapper {
        position: fixed;
        top: 30vh;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1040px;
        width: 98%;

        pointer-events: none;
    }

    div.page-turning-prev tw-link,
    div.page-turning-prev tw-link:hover,
    div.page-turning-next tw-link,
    div.page-turning-next tw-link:hover {
        /* hiding the tw-link text */
        color: transparent;
        display: block;
        width: 0;
        pointer-events: none;
        transform: none;
    }

    /* THE ARROW BUTTONS */
    div.page-turning-next tw-link::after,
    div.page-turning-prev tw-link::after {
        /* replacing the text by arrows in ::after elements */
        position: absolute;
        top: 0;

        font-family: sans-serif;
        font-size: 5em;
        font-weight: inherit;
        display: block;
        width: 4rem;
        height: 5rem;
        overflow: hidden;
        text-align: center;
        line-height: 3.6rem;

        color: #0000dc;
        text-shadow: 0 0 0.07em rgba(255, 255, 255, 0.25);
        opacity: 0.7;
        transition: 300ms;
        transition-property: opacity, transform;
        
        pointer-events: auto;
    }
    div.page-turning-prev tw-link::after {
        content: "‹";
        left: 0;
    }
    div.page-turning-next tw-link::after {
        content: "›";
        right: 0;
    }
    div.page-turning-next tw-link:hover::after,
    div.page-turning-prev tw-link:hover::after {
        opacity: 0.95;
        transform: scale(1.05);
    }
}



/*============================
        MODAL DIALOGS
============================*/

div.modal-dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 6vh 4vw;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms;
}
div.modal-dialog-container:target {
    opacity: 1;
    pointer-events: auto;
}

/* modal content */
div.modal-dialog {
    max-width: 100%;
    flex-grow: 0;
    margin: auto 0px;
    padding: 1.2em;

    background: rgb(238, 225, 190);
    box-shadow: 0px 30px 15px 10px rgba(0, 0, 0, 0.33);
}
div.modal-dialog::after {
    /* invisible "padding" to ensure user can scroll
       all the way to the bottom of the bubble
       (that is past its border bc shadow/glow fx) */
    content: '';
    position: absolute;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    height: 60px;
    width: 1px;
}
div.modal-dialog-container:target > div.modal-dialog * {
    pointer-events: auto;
}

div.modal-dialog-container .modal-close,
div.modal-dialog-container .modal-close:hover {
    /* background close button/link */
    position: fixed;
    top: 0;
    left:0;
    z-index: -1;
    
    width: 100vw;
    height: 100vh;
    
    background: #0000;
    color: #0000;
}
div.modal-dialog::before {
    /* adding an x above of the modal */
    position: absolute;
    right: -7px;
    top: -43px;
    z-index: -2;
    /* setting it underneath the close link */
    width: 1em;
    height: 1em;
    
    font-family: sans-serif;
    content: '×';
    text-align: center;
    line-height: 1.2em;
    
    color: rgb(0, 0, 0);
    background-color: rgb(143, 139, 132);
    opacity: 0.8;
}

/* articles */
div.modal-dialog.article {
    transform: translateX(100vw);
    transition: 400ms;
    transition-property: transform;
}
div.modal-dialog-container:target div.modal-dialog.article {
    transform: none;
}

/* wiki articles */
div.modal-dialog.wiki {
    height: 100%;
}
div.modal-dialog.wiki iframe {
    width: 1200px;
    max-width: 100%;
    height: 100%;

    border: solid 2px rgba(78, 78, 78, 0.7);
    /* box-shadow: ; */
}

/* images inside of a H5P embed */
div.modal-dialog.h5p-embed {
    width: 40em;
}

/* modals with a sidenote */
div.modal-dialog.text-sidenote {
    width: 30em;
}

div.modal-dialog.citation-modal {
    padding: 0;
    background-color: transparent;
    pointer-events: none;
    box-shadow: none;
}
div.modal-dialog.citation-modal div.block-citation {
    margin-top: 1em;
    background-color: rgb(238, 225, 190);
}
div.modal-dialog.citation-modal img,
div.modal-dialog.citation-modal div.block-citation {
    box-shadow: 0px 15px 15px 10px rgba(0, 0, 0, 0.33);
}

div.block-citation {
    padding: 0.5em;
    /* width: 30em;
    max-width: 100%; */
    font-size: 85%;
    line-height: 1.4em;
}

/* modal openers */
a.modal-open:any-link {
    color: rgb(0, 179, 30);
    transition: 300ms;
    transition-property: color, text-shadow;
    text-decoration: underline;
}
a.modal-open:any-link:hover {
    color: rgb(0, 153, 25);
    text-decoration: underline;
    text-shadow: 0 0 0.03em rgb(0, 153, 25);
}

/*============================
    HYPERLINKS   <a>
============================*/

a:link {
    color: hsl(170, 98%, 40%);
    text-decoration: underline;
}
a:link:hover {
    color: hsl(170, 90%, 46%);
    text-decoration-thickness: 1.5px;
}

a:visited {
    color: hsl(182, 100%, 27%);
    text-decoration: underline;
}
a:visited:hover {
    color: hsl(182, 100%, 22%);
    text-decoration-thickness: 1.5px;
}




/*============================
    OTHER STUFF
============================*/

iframe {
    background-color: rgba(0, 0, 0, 0.226);
}


img.logolink {
    /* EU fondy */
    display: block;
    width: 85%;
    margin: 8em auto 1em;
    background-color: rgba(255, 255, 255, 0.335);
    box-shadow: none;
}
.logotext {
    /* EU fondy */
    font-size: 75%;
    line-height: 1.4em;
    text-align: center;
}



/*=============================
      CREDITS page style 
=============================*/

div.flex-columns {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.flex-columns > div {
    width: 50%;
    min-width: 11em;
    flex-grow: 1;
    padding-right: 1em;
}
div.flex-columns > div.last-columnt {
    padding-right: 0em;
}

tw-passage[tags ~= "credits"] .logo {
    max-width: 12em;
    box-shadow: none;
}
tw-passage[tags ~= "credits"] ul {
    margin: 0.2em 0em;
    padding: 0.5em;
    list-style: none;
}
tw-passage[tags ~= "credits"] li {
    margin: 0.2em 0em;
    padding: 0em 1em;
}
tw-passage[tags ~= "credits"] li.category {
    margin: 0.2em 0em;
    padding: 0em;
}
tw-passage[tags ~= "credits"] #muni-logo {
    position: relative;
    left: -13px;
}
tw-passage[tags ~= "credits"] #mzk-logo {
    padding: 10px 0px 20px 0px;
}
ul#jan-rychly {
    margin-top: 0.25em;
    max-width: 10em;
    border-top: solid #0000DC 0.2em
}

