


body {
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}

/* ======================
    basic Twine elements 
   ====================== */
tw-story {
    padding: 80px 10%;
    min-height: 100%;

    background-position: center;
    background-attachment: fixed;
    background-color: rgb(53, 51, 47);

    font-family: Arial, sans-serif;
}

tw-passage {
    max-width: 1000px;
    width: 100%;
    align-self: center;

    padding: 2em;
    margin-top: 3vh;
    margin-bottom: 4vh;

    background-color: white;
    border-radius: 1px;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.274);
    color: black;
}

tw-story tw-consecutive-br {
    height: 1em;
}

tw-sidebar, tw-sidebar *[alt] {
    color:rgb(0, 214, 36);
    opacity: 0.8;
    /* display: none; TODO uncomment */
}


/* =========================
   Responsivness adjustments
   ========================= */

/* narrow screen */
@media (max-width: 649px) {
    tw-story {
        padding: 5%;
    }
    tw-passage {
        margin-top: 30px;
        /* leave space fot ui */
        padding: 2em;
        font-size: 85%;
        line-height: normal;
    }
    tw-passage[tags="title-passage"] {
        padding: 1.5em;
    }
    tw-sidebar {
        position: absolute;
        left: 5%;
        top: -100px;

        flex-direction: row;
        width: 90%;
    }
}
/* wider screen */
@media (min-width: 650px) {
    tw-sidebar {
        position: absolute;
        left: -80px;

        flex-direction: column;
        width: 45px;
    }
}


/* ================
    <a> hyperlinks
   ================ */

a:link,
a:link:hover {
    color: hsl(170, 98%, 40%);
    text-decoration: underline;
}
a:visited,
a:visited:hover {
    color: hsl(182, 100%, 27%);
    text-decoration: underline;
}
.hyper {
    --hyper-color: hsl(170, 98%, 40%);
    color: var(--hyper-color);
    text-decoration: underline;

    transition: 300ms;
    transition-property: color;
}
.hyper:hover {
    color: hsl(170, 100%, 33%);
}
.hyper:visited {
    --hyper-visited-color: hsl(182, 100%, 27%);
    color: var(--hyper-visited-color);
}
.hyper:visited:hover {
    color: hsl(182, 100%, 20%);
}


/* ===============
    modal dialogs
   =============== */

.modal-dialog {
    /* the container */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    padding: 6vh 4vw;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms;
}
.modal-dialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-dialog > div {
    /* modal content */
    max-width: 800px;
    flex-grow: 0;
    margin: auto 0px;

    background: #fff;
    box-shadow: 0px 30px 15px 10px rgba(0, 0, 0, 0.33);
}
.modal-dialog > div::after {
    /* invisible "padding" to ensure user can scroll
       all the way to the bottom of the bubble
       (that is past its border bc shadow/glow fx) */
    content: '';
    position: absolute;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    height: 60px;
    width: 1px;
}

.modal-dialog .close,
.modal-dialog .close:hover {
    /* background close button/link */
    position: fixed;
    top: 0;
    left:0;
    z-index: -1;
    
    width: 100vw;
    height: 100vh;
    
    background: #0000;
    color: #0000;
}
.modal-dialog > div::before {
    /* adding an x above of the modal */
    position: absolute;
    right: -7px;
    top: -43px;
    z-index: -2;
    /* setting it underneath the close link */
    width: 1em;
    height: 1em;
    
    font-family: sans-serif;
    content: '×';
    text-align: center;
    line-height: 1.2em;
    
    color: rgb(0, 0, 0);
    background-color: rgb(100, 100, 100);
    opacity: 0.5;
}

a.inmod:any-link {
    color: rgb(0, 179, 30);
    text-decoration: underline;

    transition: 300ms;
    transition-property: color;
}
a.inmod:any-link:hover {
    color: rgb(0, 146, 24);
    text-decoration: underline;

    /* do something */
}

