
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

tw-story {
    background-color: black;
    background-image: url('images/lightbulb1.png');
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
    align-content: center;
}

tw-passage {
    padding: 2em;
    margin-top: 3vh;
    margin-bottom: 4vh;

    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 15px 20px white;
    color: black;
}
tw-passage::after {
    /* content: 'hello there'; */
    /* background-color: red; */
    /* background-image: url('close_smoke.jpg'); */
    position: relative;
}

tw-story[tags~="horakova"] {
    font-family: 'Special Elite', cursive;
    background-color: burlywood;
}

/* narrow screen adjustments */
@media (max-width: 649px) {

    tw-passage {
        padding: 2em;
        box-shadow: 0 0 7px 10px white;
        margin-top: 50px;
        margin-bottom: 70px;
    }
    tw-passage[tags="title-passage"] {
        padding: 0.7em;
    }
    tw-sidebar {
        top: -125px;
    }
}

/* ===========
   Twine LINKS
   =========== */
tw-link,
tw-link.visited {
    display: block;
    padding: 0.35em;
    margin: 0.7em auto;
    /* center it */
    width: 20em;
    max-width: 100%;
    text-align: center;
    
    border-radius: 11px;
    box-shadow: 0px 0px 5px 5px #e6f1ff;
    background-color: #e6f1ff;
    color: #0000DC;
    
    transition: 300ms;
    transition-property: background-color, box-shadow;
}
tw-expression[name="link-goto"] + br {
    /* this hould get rid of the <br> 
    that is pushed out onto the next line
    by the tw-link's auto margin */
    display: none;
}
tw-link:hover,
tw-link:active,
tw-link.visited:hover,
tw-link.visited:active {
    color: #fff;
    background-color: #0000DC;
    box-shadow: 0px 0px 5px 5px #0000DC;
}
tw-link:active,
tw-link.visited:active {
    position: relative;
    top: 2px;
}

tw-hook[name^='goto'] {
    box-shadow: 3px 3px 10px darkgray;
    background-color: white;
    border: #4BC8FF solid;
    border-radius: 35px;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding: 15px 20px;
    text-decoration: none;
    margin: 1%;
    text-align: center;
    width: 50%;
}

/* inline link for changers (?) */
.enchantment-link {
    color: #0000DC;
}

/* where is this used ???? */
tw-hook[name^='goto']:hover {
    background-color: #4BC8FF;
    color: cyan;
    color: white;
}
tw-hook[name^='goto']:active {
    position: relative;
    top: 2px;
}

/* changer ?? */
tw-hook[name^='ch'] {
    box-shadow: 3px 3px 10px darkgray;
    background-color: white;
    border: #4BC8FF solid;
    border-radius: 35px;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding: 15px 20px;
    text-decoration: none;
    margin: 1%;
    text-align: center;
    width: 50%;
}
tw-hook[name^='ch']:hover {
    background-color: #4BC8FF;
    color: cyan;
    color: white;
}
tw-hook[name^='ch']:active {
    position: relative;
    top: 2px;
}

/* messy breaklines - #TODO fix in the html*/
tw-consecturive-br:last-child {
    display: none;
}
tw-consecturive-br:first-child {
    display: none;
}
br:first-child {
    display: none;
}

/* ========
    modals
   ========
*/
.modalDialog {
    /* container */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 6vh 4vw;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    /* modal content */
    max-width: 40em;
    flex-grow: 0;
    margin: auto 0px;

    padding: 1em;
    border-radius: 10px;
    background: #fff;
}

.modalDialog .close {
    /* close button */
    position: fixed;
    top: 0;
    left:0;
    z-index: -1;
    
    width: 100vw;
    height: 100vh;
    
    background: #0000;
    color: #0000;
}

a.inmod:any-link {
    color: rgb(0, 179, 30);
}


/* =======
    other
   ======= */

.citace {
    text-align: right;
    font-size: small;
}

.yellowbox {
    background-color: lightyellow;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 3px 3px 10px darkgray;
    width: 85%;
    display: block;
    margin: 0 auto;
}

.cyanbox {
    background-color: #99FFFF;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 3px 3px 10px darkgray;
    width: 85%;
    display: block;
    margin: 0 auto;
}

.greenbox {
    background-color: #CCFF99;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 3px 3px 10px darkgray;
    width: 85%;
    display: block;
    margin: 0 auto;
}

.redbox {
    background-color: #FF9999;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 3px 3px 10px darkgray;
    width: 85%;
    display: block;
    margin: 0 auto;
}

.imbox {
    box-shadow: 3px 3px 10px darkgray;
    border-radius: 10px;
    padding: 2%;
    width: 85%;
    display: block;
    margin: 0 auto;
}

.inlimg {
    width: auto;
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.cimage {
    width: auto;
    max-width: 75%;
    display: block;
    margin: 0 auto;
}

.modalinit {
    color: limegreen;
    font-weight: bold;
}

.modalinit:hover {
    color: #FF32FF;
}


.logo {
    height: auto;
    max-height: 100px;
}

.logolink {
    display: block;
    border-top: #0000cd solid;
    margin: 0 auto;
    margin-top: 150px;
    width: 85%;
}

.logotext {
    text-align: center;
    font-size: smaller;
}

.hyper {
    color: #0000DC;
}

.hyper:hover {
    color: #DC006E;
}

.frejm {
    width: 100%;
    height: 800px;
}

.tube {
    width: 75%;
    height: 640px;
    display: block;
    margin: 0 auto;
}

.commie {
    color: darkred;
}