@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}


/* original css to sort through */

tw-hook[name^='goto'] {
    box-shadow: 3x 3px 10px darkgray;
    background-color: white;
    border: #4BC8FF solid;
    border-radius: 35px;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding: 15px 20px;
    text-decoration: none;
    margin: 1%;
    text-align: center;
    width: 50%;
}
tw-hook[name^='goto']::after {
    position: absolute;
    top: 0;
    right: -10px;
    color: red;
    content: "< this is tw-hook[name^='goto'] rule";
}

tw-hook[name^='goto']:hover {
    background-color: #4BC8FF;
    color: cyan;
    color: white;
}

tw-hook[name^='goto']:active {
    position: relative;
    top: 2px;
}

.question {
    text-align: center;
    font-size: xx-large;
}

table {
    padding: 2%;
    width: 90%;
}

th {
    text-align: center;
    font-size: xx-large;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.virtue {
    font-weight: bold;
}

.result {
    text-align: center;
}





/* ======================
    basic Twine elements 
   ====================== */

tw-story {
    padding: 80px 12%;
    min-height: 100%;

    background-position: center;
    background-attachment: fixed;
    background-color: rgb(178, 225, 246);
    background-size: cover;
    
    background-image: url("images/sky-balloons.png");
    /* background-image: url("images/books1.png"); */
    /* background-image: url("images/books2.png"); */
    /* background-image: url("images/wall-balloons.png"); */
    /* background-image: url("images/hot-air-balloon.png"); */

    font-family: 'Poppins', sans-serif;
}
tw-story[tags ~= "antika"] {
    background-image: url("https://i.pinimg.com/originals/e2/26/97/e226978809e22cd41fe0ee8dc4d8a98a.jpg");
}

tw-passage {
    padding: 40px;
    max-width: 900px;
    width: 100%;
    align-self: center;

    background-color: white;
    color: black;

    box-shadow: -3px 7px 10px 2px rgba(0, 0, 0, 0.42);
}
/* tw-passage[tags ~= "debriefing"] {
    box-shadow: -2px 5px 7px rgba(0,0,0,0.2);
} */

tw-story tw-consecutive-br {
    height: 1em;
}



/* =========================
   Responsivness adjustments
   ========================= */
@media (max-width: 649px) {
    /* narrow screen */
    tw-story {
        padding: 5%;
    }
    tw-passage {
        font-size: 85%;
        line-height: normal;
        padding: 23px;
        margin-top: 40px;
        margin-bottom: 70px;
    }
}



/*============================
    Twine LINKS and buttons
============================*/

/* == general link/button == */
tw-link,
tw-link.visited,
tw-hook[name='back'],
/* test options */
tw-hook[name^='choice'] {
    /* text of the button */

    display: inline-block;
    padding: 0.35em 0.8em;
    margin: 0.4em auto;
    min-width: 350px;
    max-width: 100%;
    z-index: 1;
    color: #0000dc;
    background-color: transparent;

    transition: 190ms;
    transition-property: color;
}
@media (max-width: 500px) {
    tw-link,
    tw-link.visited,
    tw-hook[name='back'],
    tw-hook[name^='choice'] {
        min-width: 100%;
    }
}
tw-link::before,
tw-hook[name='back']::before,
tw-hook[name^='choice']::before {
    /* the little strip */
    content: "";
    height: 100%;
    width: 0.3em;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background-color: #0000dc;

    transition: 300ms ease-in-out;
    transition-property: width;
}
tw-link::after,
tw-hook[name='back']::after,
tw-hook[name^='choice']::after {
    /* background rectangle */
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    background-color: #EBF0FF;
}

/* == hover/focus link button == */
tw-link:hover,
tw-link:focus,
tw-hook[name='back']:hover,
tw-hook[name='back']:focus,
tw-link.visited:hover,
tw-link.visited:focus,
/* test options */
tw-hook[name^='choice']:hover,
tw-hook[name^='choice']:focus {
    color: #fff;
}
tw-link:hover::before,
tw-link:focus::before,
tw-link.visited:hover::before,
tw-link.visited:focus::before,
tw-hook[name='back']:hover::before,
tw-hook[name='back']:focus::before,
tw-hook[name^='choice']:hover::before,
tw-hook[name^='choice']:focus::before {
    content: "";
    height: 100%;
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;

    background-color: #0000dc;
}


/* two different sizes for the contents page links */
tw-hook[name^='hook1'] {
    font-size: 90%;
}
tw-hook[name^='hook2'] {
    font-size: 80%;
}


/* color coded strengths links */
tw-hook[name='wsd'] tw-link::before,
tw-hook[name='cour'] tw-link::before,
tw-hook[name='lov'] tw-link::before,
tw-hook[name='jstc'] tw-link::before,
tw-hook[name='mdr'] tw-link::before,
tw-hook[name='trns'] tw-link::before {
    /* link color coding */
    border-right: var(--color-coding) 0.3em solid;
    background-color: var(--color-coding);
    transition-property: width, background-color, border-width;
}
tw-hook[name='wsd'] tw-link,
tw-hook[name^='wis'] {
    /* wisdom */
    --color-coding: #0680DE;
}
tw-hook[name='cour'] tw-link,
tw-hook[name^='crg'] {
    /* courage */
    --color-coding: #F37B30;
}
tw-hook[name='lov'] tw-link,
tw-hook[name^='luv'] {
    /* love */
    --color-coding: #DD5296;
}
tw-hook[name='jstc'] tw-link,
tw-hook[name^='jus'] {
    /* justice */
    --color-coding: #F6CB2C;
}
tw-hook[name='mdr'] tw-link,
tw-hook[name^='mod'] {
    /* moderation */
    --color-coding: #D4B8F7;
}
tw-hook[name='trns'] tw-link,
tw-hook[name^='tra'] {
    /* transcendancy */
    --color-coding: #6EE5D9;
}
tw-hook[name='wsd'] tw-link:hover::before,
tw-hook[name='cour'] tw-link:hover::before,
tw-hook[name='lov'] tw-link:hover::before,
tw-hook[name='jstc'] tw-link:hover::before,
tw-hook[name='mdr'] tw-link:hover::before,
tw-hook[name='trns'] tw-link:hover::before {
    border-right-width: 0.5em;
    background-color: #0000dc;
}

/* == tests results style (strengths) == */
tw-hook[name^='wis'],
tw-hook[name^='crg'],
tw-hook[name^='luv'],
tw-hook[name^='jus'],
tw-hook[name^='mod'],
tw-hook[name^='tra'] {
    display: block;
    border-left: var(--color-coding) 0.4em solid;
    font-size: x-large;
    padding: 0 0.35em;
    margin: 0.35em 0;
}




/*==========================
    Navigation
==========================*/

tw-sidebar {
    position: absolute;
    left: -80px;
}

/* ugly hack to beat the tw-icon[alt] selector in default twine */
.navigation-button[class] {
    opacity: 0.7;
    margin: 20px 0;
    /* background-color: #ebf0ff99;
    padding: 10px; */
    transition: 300ms;
    transition-property: transform, opacity;
}
.navigation-button[class]:hover {
    opacity: 1;
    transform: scale(1.05);
}
.navigation-button img {
    width: 50px;
}

@media (max-width: 649px) {
    /* narrow screen */
    tw-sidebar {
        position: absolute;
        top: -95px;
        left: 7.5%;
        width: 85%;

        height: 30px;
        flex-direction: row;
    }
    
    .navigation-button img {
        height: 35px;
    }
}



/*=====================
        modals
=====================*/

/* dialog container */
.modalDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 6vh 4vw;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

/* modal content */
.modalDialog > div {
    max-width: 45em;
    flex-grow: 0;
    margin: auto 0px;
    padding: 27px;

    background: #fff;
    box-shadow: -5px 15px 17px 15px rgba(0, 0, 0, 0.3);
}
@media (max-width: 649px) {
    /* narrow screen */
    .modalDialog > div {
        padding: 15px;
    }
}
.modalDialog > div::after {
    /* invisible "padding" to ensure user can scroll
        all the way to the bottom of the bubble
        (that is past its border bc shadow/glow fx) */
    content: "";
    position: absolute;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    height: 60px;
    width: 1px;
}

.modalDialog .close,
.modalDialog .close:hover {
    /* close link */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background: #0000;
    color: #0000;
}
.modalDialog > div::before {
    /* adding an x above of the modal */
    position: absolute;
    right: 0.15em;
    top: -1.35em;
    width: 1em;
    height: 1em;
    z-index: -2;
    /* setting it underneath the close link */

    font-family: sans-serif;
    content: "×";
    text-align: center;
    line-height: 1.1em;

    color: rgb(0, 0, 0);
    background-color: rgb(70, 70, 70);
    opacity: 0.5;
}

.modalDialog img {
    width: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


a.inmod:any-link,
.modbut:any-link {
    color: rgb(0, 179, 30);
    transition: 300ms;
    transition-property: all;
    text-decoration: underline;
}
a.inmod:any-link:hover,
.modbut:any-link:hover {
    color: rgb(0, 146, 24);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.immod {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 10px darkgray;
}

.immod:hover {
    border: limegreen solid;
}

.modalinit {
    color: limegreen;
    font-weight: bold;
}

.modalinit:hover {
    color: #FF32FF;
}

/* .modbut {
    box-shadow: 3px 3px 10px darkgray;
    background-color: white;
    border-radius: 35px;
    border: #00DC00 solid;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding: 15px 20px;
    text-decoration: none;
    margin: 1%;
    text-align: center;
    width: 50%;
    transition: 0s;
}

.modbut:hover {
    background-color: #00DC00;
    color: white;
    transition: 0s;
}

.modbut:active {
    position: relative;
    top: 2px;
} */

/*======================
    <a> hyperlinks
======================*/

.hyper {
    color: hsl(170, 98%, 40%);
    text-decoration: underline;
}
.hyper:hover {
    color: hsl(170, 90%, 46%);
    text-decoration-thickness: 1.5px;
}
.hyper:visited {
    color: hsl(182, 100%, 27%);
    text-decoration: underline;
}
.hyper:visited:hover {
    color: hsl(182, 100%, 22%);
    text-decoration-thickness: 1.5px;
}





/*============================
    Images and such
============================*/

.imbox {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* images shadow */
.imbox img,
img.cimage {
    box-shadow: -1px 3px 6px 1px rgba(0, 0, 0, 0.3);
}

.inlimg {
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* modal initializer images */
.cimage {
    max-width: 100%;
    width: 570px;
    display: block;
}

a.book-modal-init img {
    border: rgb(0, 179, 30) solid 0.2em;
    transition: 300ms;
    width: 15em;
    transition-property: border, transform;
}
a.book-modal-init img:hover {
    border: rgb(0, 146, 24) solid 0.2em;
    transform: scale(1.02);
    z-index: 2;
}
a.book-modal-init {
    display: block;
    width: max-content;
}

/* tw-passage[tags ~= "antika"] */
a.hyper img.cimage {
    display: inline-block;
    margin: 1%;
    width: 47%;
    max-width: 13em;
    border: hsl(170, 98%, 40%) solid 0.2em;
    transition: 300ms;
    transition-property: border, transform;
}
/* tw-passage[tags ~= "antika"]  */
a.hyper img.cimage:hover {
    border: hsl(170, 90%, 46%) solid 0.2em;
    transform: scale(1.02);
    z-index: 2;
}




/*==========================
    Progress bar
==========================*/

div.progress-bar {
    height: 0.6em;
    width: 100%;
    background-color: #ebf0ff;
}
div.progress-bar-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    
    background-color: #ced9ff;
}

div.progress-bar::after {
    /* color: rgb(85, 85, 85); */
    content: attr(data-value) "/48";

    position: absolute;
    top: -70%;
    left: 0;
    
    height: 200%;
    width: 100%;
    text-align: center;
}




/*==========================
    other stuff
==========================*/

.citace {
    margin: 1em 0px 0px auto;
    text-align: right;
    font-size: 65%;
    line-height: 1.4em;
    max-width: 30em;
    word-wrap: break-word;
}

blockquote {
    text-align: justify;
}

.footnote {
    font-size: 0.9rem;
}

.tube {
    width: 32em;
    height: 18em;
    max-width: 100%;
    display: flex;
    margin: 0 auto;

    background-color: black;
    box-shadow: -3px 5px 5px 1px rgba(0, 0, 0, 0.404);
}

.frejm {
    width: 100%;
    height: 800px;
}

.modalDialog div.interactive-book-container {
    width:100%;
    max-width:1000px;
}

.videowrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videowrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* progress bar */
/* progress[value] {
    width: 100%;
    height: 15px;
}
.progress {
    text-align: center;
    font-size: large;
} */


.logo {
    height: auto;
    max-height: 100px;
}

.logotext {
    /* eu disclaimer */
    font-size: small;
    line-height: 1.4em;
    text-align: center;
}
.logolink {
    /* eu disclaimer */
    display: block;
    margin: 5em auto 0;
    width: 85%;
}




/*====================
   contents page
====================*/
ul.contents {
    padding-left: 0;
}
ul.contents li {
    list-style-type: none;
}


/*============================
   credits page adjustments 
============================*/
div.flex-columns {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.flex-columns > div {
    width: 50%;
    min-width: 11em;
    flex-grow: 1;
    padding-right: 1em;
}
div.flex-columns > div.last-columnt {
    padding-right: 0em;
}

tw-passage[tags ~= "credits"] .logo {
    max-width: 12em;
}
tw-passage[tags ~= "credits"] ul {
    margin: 0.2em 0em;
    padding: 0.5em;
    list-style: none;
    padding-top: 0;
    margin-top: -10px;
}
tw-passage[tags ~= "credits"] li {
    margin: 0.2em 0em;
    padding: 0em 1em;
}
tw-passage[tags ~= "credits"] li.category {
    margin: 0.2em 0em;
    padding: 0em;
}
img#muni-logo,
img#muni-logo-econ {
    margin-left: -13px;
}
img#mzk-logo {
    padding: 10px 0px 20px 0px;
}
ul#jan-rychly {
    margin-top: 0.25em;
    max-width: 10em;
    border-top: solid #0000DC 0.2em
}
