@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');



/*===============================
|        General layout         |
===============================*/

tw-story {
    background-color: rgb(248, 248, 248);
    background-image: url("resources/white-wall-texture.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-attachment: fixed;
    color: black;
    margin: 0;
    padding: 50px 15%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Merriweather', serif;
}

tw-passage {
    margin: auto;
    padding: 1.5em;
    background-color: rgb(248, 242, 234);
    width: 90vw;
    max-width: 1000px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.164);
}

tw-sidebar {
    position: fixed;
    left: 0;
    top: 25px;
    z-index: 10;
}
tw-sidebar tw-icon {
    /* display: none; */
    opacity: 1;
    /* TODO remove */
}

img.nav-arrow {
    width: 50px;
    max-width: 100%;
    box-shadow: none;
    opacity: 0.7;

    transition: 300ms;
    transition-property: transform, opacity;
}
img.nav-arrow:hover,
img.nav-arrow:focus {
    opacity: 1;
    transform: scale(1.1);
}

img {
    max-width: 100%;
    max-height: 100%;
    min-height: 50px;
    display: block;
    margin: 0 auto;

    box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.411);
}

tw-link,
tw-link.visited {
    color: #0000dc;
    transition: text-decoration, color 200ms;
}
tw-link:hover,
tw-link:focus,
tw-link.visited:hover,
tw-link.visited:focus {
    color: #061c97;
    text-decoration: underline;
}




/*===============================
|  Gallery horizontal layouts   |
===============================*/

body {
    overflow-x: auto;
}
tw-story[tags ~= "gallery"] {
    /* overflow-x: scroll; */
    height: 100%;
    margin: 0;
    width: max-content;
    background-attachment: scroll;
}
tw-passage[tags ~= "gallery"] {
    display: flex;
    margin: auto;
    height: 80vh;
    width: unset;
    max-width: unset;
    padding-bottom: 2em;
    background-color: transparent;
    box-shadow: none;
}


/* == Single WALL SPACE wrapper == */
div.gallery-wall-space,
div.gallery-wall-space-book {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 90vw;
    max-width: 1000px;
    margin: 0 1em;
    z-index: 0;

    /* debug border: */
    /* border: solid rgba(238, 100, 243, 0.486) 4px; */
}
div.gallery-wall-space-book {
    width: 60vh;
}

/* labels above the paintings */
div.wall-space-label {
    margin: 10px auto;
    padding: 0.1em 0.5em;
    /* width: 100%; */
    text-align: center;
    /* font-size: 2em;
    line-height: 1.1em;
    height: 1.1em; */
    border-radius: 0.15em;
    background-color: rgb(248, 242, 234);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.205);
    order: 2;
    z-index: -1;

    opacity: 0.4;
    transition: opacity 300ms;
}
div.gallery-wall-space:hover div.wall-space-label,
div.gallery-wall-space-book:hover div.wall-space-label {
    opacity: 1;
}

/* == the PAINTING container itself == */
div.gallery-wall-space tw-expression {
    min-height: 0;
    /* min height 0 allows it to shrink in the flex container */  
    display: block;
    margin: 0 auto;
    /* debug border: */
    /* border: solid rgb(243, 100, 119, 0.1) 4px; */
}
div.gallery-wall-space tw-expression tw-link {
    display: block;
    width: 100%;
    height: 100%;
}
div.gallery-wall-space > tw-expression img {
    border: solid #3737af 0.5em;
    border-style: ridge;
}

/* neutral painting frame -> border */
img.painting-frame-neutral {
    border: solid #c38a05 0.5em;
    border-style: ridge;
}

/* text containers */
div.gallery-text {
    column-width: 30em;
    column-count: auto;
    /* the columns overflow >:( */
}


/* == NOTE on the wall == */
div.gallery-wall-note {
    /* min-width: 18em; */
    /* width: min-content; */
    width: 20em;
    max-width: 90vw;
    height: min-content;

    padding: 0.5em 1em;
    margin: 2em;
    align-self: top;
    
    border-radius: 0.2em;
    background-color: rgb(248, 242, 234);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.205);
}

/* books in the gallery */
div.book-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    min-height: 0;

    /* background-color: rgba(127, 255, 212, 0.5); */
}

img.book-cover {
    border: green 0.4em ridge;
}
div.book-contents {
    display: flex;
    flex-direction: column;
    height: 115%;
    width: 23em;
    max-width: 95vw;
    padding: 1em;
    /* border-radius: 0.2em; */

    background-color: rgb(248, 242, 234);
    box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.178);

    position: absolute;
    bottom: -10%;

    transition: transform 400ms;
}
div.book-contents img {
    margin: 0.5em auto 0;
    box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.178);
}
div.book-contents audio {
    margin: auto;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.411);
    border-radius: 0.2em;
}

div.book-contents.collapsed {
    transform: translateY(150vh);
}

div.book-contents::after {
    --size: 1.5em;
    font-size: 1.2em;
    font-family: sans-serif;
    line-height: 1.5em;
    text-align: center;
    content: "▼";
    color: white;

    width: var(--size);
    height: var(--size);
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    transform: translateX(-0.75em);
    z-index: 1;

    border-radius: 0.2em;
    background-color: green;
    /* TODO  replace with proper modal green */
}


/* image clickable true/false options */
img.image-option-wrong,
img.image-option-correct {
    transition: transform 400ms;
}
img.image-option-wrong:hover,
img.image-option-correct:hover {
    transform: scale(1.03);
}

img.image-option-wrong.clicked {
    box-shadow: 0px 0px 10px 2px rgb(248, 76, 76),
    0 6px 8px 4px rgba(0, 0, 0, 0.411);
}
img.image-option-correct.clicked {
    box-shadow: 0px 0px 10px 4px rgb(3, 167, 3),
    0 6px 8px 4px rgba(0, 0, 0, 0.411);
}



/* audio narrator/gallery currator */
tw-passage[tags ~= "gallery"] audio.curator {
    position: fixed;
    /* left: 20px; */
    left: 50%;
    transform: translateX(-50%);
    max-width: 95%;
    top: 40px;
    border-radius: 0.2em;
    height: 1.5em;
}



/*-------------------------------------
       Modal image citation tags
-------------------------------------*/
div.painting-with-citation {
    z-index: 1;
}

div.painting-with-citation a {
    min-height: 0;
    /* min height 0 allows it to shrink in the flex container */
    max-height: 100%;
}

div.painting-with-citation div.citation-tag {
    border-radius: 0.15em;
    background-color: rgb(245, 236, 225);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.205);

    padding: 0;
    max-height: 0;
    opacity: 0;
    pointer-events: none;

    transition: 300ms;
    transition-property: all;
}
div.painting-with-citation:target div.citation-tag,
img.clicked + div.citation-tag.image-option-tag {
    padding: 0.5em 0.65em;
    max-height: 15em;
    height: auto;
    pointer-events: auto;
    opacity: 1;
}
div.citation-tag.image-option-tag {
    margin: 1em auto 0.5em;
    z-index: -1;
}

div.citation-tag a.citation-tag-close {
    position: absolute;
    right: -0.25em;
    top: -0.25em;

    width: 1em;
    height: 1em;
    background-color: #e2bf6d;
    border-radius: 0.15em;
    text-align: center;
    line-height: 1em;
    font-family: sans-serif;
    text-decoration: none;
}

tw-passage[tags ~= "gallery"] div.painting-with-citation div.citation-tag {
    font-size: 70%;
    line-height: 1.5em;
    z-index: -1;
    transform: translateY(10px);
}


/*-------------------------------------
   Custom gallery spaces properties
-------------------------------------*/
tw-passage[tags ~= "romantismuslitaktivita"] img {
    width: 30em;
}

tw-passage[tags ~= "baroque"] img {
    max-height: 600px;
}





