

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


/*===============================
|        General layout         |
===============================*/

tw-story {
    background-color: rgb(248, 248, 248);
    background-image: url("resources/white-wall-texture.png");
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
    color: black;
    margin: 0;
    padding: 50px 10%;
    font-family: 'PT Sans', sans-serif;
    min-width: 100%;
}

tw-passage {
    margin: auto;
    padding: 1.5em;
    background-color: rgb(248, 242, 234);
    width: 97%;
    max-width: 1000px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.164);
}

@media (max-width: 649px) {
    tw-story {
        padding: 80px 2%;
    }
    tw-passage {
        margin: auto;
        padding: 18px;
        width: 97%;
        font-size: 85%;
        line-height: 1.5em;
    }
}

/* === Navigation === */
tw-sidebar {
    display: flex;
    flex-direction: row;
    height: 2.1em;
    position: fixed;
    left: 15px;
    top: 20px;
    z-index: 10;
}
tw-sidebar tw-icon {
    display: none;
    /* opacity: 1; */
}

img.nav-arrow {
    width: 50px;
    height: 1.5em;
    max-width: 100%;
    box-shadow: none;
    opacity: 0.7;

    transition: 300ms;
    transition-property: transform, opacity;
}
img.nav-arrow:hover,
img.nav-arrow:focus {
    opacity: 1;
    transform: scale(1.1);
}


/* === images in general === */
img {
    max-width: 100%;
    max-height: 100%;
    min-height: 50px;
    display: block;
    margin: 0 auto;

    box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.411);
}

/* === twine "button" style === */
tw-link,
tw-link.visited {
    color: #0000dc;
    transition: text-decoration, color 200ms;
}
tw-link:hover,
tw-link:focus,
tw-link.visited:hover,
tw-link.visited:focus {
    color: #061c97;
    text-decoration: underline;
}




/*========================================
||      Gallery horizontal layouts      ||
========================================*/

body {
    overflow-x: auto;
}
tw-story[tags ~= "gallery"] {
    /* overflow-x: scroll; */
    height: 100%;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    width: max-content;
    background-attachment: scroll;
}
tw-passage[tags ~= "gallery"] {
    display: flex;
    margin: auto;
    height: 1000px;
    max-height: 85vh;
    width: unset;
    max-width: unset;
    background-color: transparent;
    box-shadow: none;
}


/*-------------------------------------
        Wall space container
-------------------------------------*/
div.gallery-wall-space,
div.gallery-wall-space-book {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    /* width: 90vw; */
    max-width: 90vw;
    margin: 0 3em;

    /* debug border: */
    /* border: solid rgba(238, 100, 243, 0.486) 4px; */
}
div.gallery-wall-space {
    z-index: 0;
}
div.gallery-wall-space-book {
    width: 60vh;
}


/*-------------------------------------
    Painting LABEL in the gallery
-------------------------------------*/
div.painting-label,
div.book-label {
    margin: 10px auto;
    padding: 0.2em 0.5em;
    text-align: center;

    border-radius: 0.15em;
    background-color: rgb(248, 242, 234);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.205);

    transition: opacity 300ms;
    pointer-events: none;
}

div.painting-label {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-weight: 500;
    color: #0000dc;
    /* color: #1414ca; */
    opacity: 0.8;
}

div.book-label {
    opacity: 1;
}

@media (any-hover: hover) and (min-width: 500px) {
    /* on devices with the ability to hover over elements */
    
    div.painting-label {
        opacity: 0;
    }
    div.book-label {
        opacity: 0.5;
    }
    div.gallery-wall-space:hover div.painting-label,
    div.gallery-wall-space:focus div.painting-label,
    div.gallery-wall-space-book:hover div.book-label,
    div.gallery-wall-space-book:focus div.book-label {
        opacity: 1;
    }
}
@media (min-width: 500px) and (min-height: 500px) {
    /* if the screen is bigger than 500px on both axis */
    div.painting-label {
        font-size: 150%;
        font-weight: 600;
    }
}


/*-------------------------------------
       Painting in the gallery
-------------------------------------*/
div.gallery-wall-space tw-expression {
    min-height: 0;
    /* min height 0 allows it to shrink in the flex container */  
    display: block;
    margin: 0 auto;
    /* debug border: */
    /* border: solid rgb(243, 100, 119, 0.1) 4px; */
}
div.gallery-wall-space tw-expression tw-link {
    display: block;
    width: 100%;
    height: 100%;
}
div.gallery-wall-space > tw-expression img {
    border: solid 0.5em #1414ca;
    border-style: ridge;
}

/* neutral painting frame -> border */
img.painting-frame-neutral,
img.painting-with-own-frame {
    border: solid 0.5em #dba21b;
    border-style: ridge;
}


/*-------------------------------------
         Note in the gallery
-------------------------------------*/
div.gallery-wall-note {
    /* min-width: 18em; */
    /* width: min-content; */
    width: 20em;
    max-width: 90vw;
    height: min-content;

    padding: 0.5em 1em;
    margin: 2em;
    align-self: top;
    
    border-radius: 0.2em;
    background-color: rgb(248, 242, 234);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.205);
}

/* text containers -- currently unused */
div.gallery-text {
    column-width: 30em;
    column-count: auto;
    /* the columns overflow >:( */
}

/* .block-horizontal-scroll {
    overflow-y: auto;
} */


/*-------------------------------------
         Books in the gallery
-------------------------------------*/
div.book-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    min-height: 0;

    /* background-color: rgba(127, 255, 212, 0.5); */
}

img.book-cover {
    border: rgb(0, 179, 30) 0.4em ridge;
    cursor: pointer;
}

/* div.modal-dialog-overlay.book-contents {
    background-color: rgb(248, 242, 234);
} */
div.modal-dialog-overlay.book-contents img {
    margin: 1em auto 0;
    max-width: 125%;
    box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.178);
}
div.modal-dialog-overlay.book-contents audio {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.411);
    background-color: rgba(0, 0, 0, 0.411);
    /* shadow is janky in chrome browsers */
    border-radius: 0.2em;
}


/* image clickable true/false options */
img.image-option-wrong,
img.image-option-correct {
    transition: transform 400ms;
}
img.image-option-wrong:hover,
img.image-option-correct:hover {
    transform: scale(1.03);
}

img.image-option-wrong.clicked {
    box-shadow: 0px 0px 10px 2px rgb(248, 76, 76),
        0 6px 8px 4px rgba(0, 0, 0, 0.411);
}
img.image-option-correct.clicked {
    box-shadow: 0px 0px 10px 4px rgb(3, 167, 3),
        0 6px 8px 4px rgba(0, 0, 0, 0.411);
}

img.clicked + div.citation-tag.image-option-tag {
    padding: 0.5em 0.65em;
    max-height: 30em;
    height: auto;
    pointer-events: auto;
    opacity: 1;
}

div.image-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.image-options > div {
    width: 48%;
}
@media (max-width: 900px) {
    /* narrow screen */
    div.image-options > div {
        width: auto;
    }
}



/*-------------------------------------
    Gallery curator / Audio narrator
-------------------------------------*/

/* invisible parent control wrapper
   that also serves as a spacer on the right of the gallery
   when the (fixed position) transcript expands */
div.curator-wrapper {
    width: 0;
    transition: width 300ms;
}
div.curator-wrapper.active {
    width: 20em;
    max-height: 100%;
}

/* the visible container itself */
div.curator-container {
    /* state: transcript hidden */
    
    position: fixed;
    top: 20px;
    left:75px;
    z-index: 20;
    
    display: flex;
    flex-direction: column;
    max-width: 6em;
    height: 2.1em;
    padding: 0.3em;
    
    border-radius: 0.2em;
    /* background-color: rgb(143, 122, 82); */
    background-color: #0000;
    /* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.281); */
    
    transition: 300ms;
    transition-property: max-width, height, background-color;
}
div.curator-wrapper.active div.curator-container {
    /* state: transcript expanded */
    
    max-width: 24em;
    height: 94vh;
    background-color: rgb(173, 151, 84);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.281);
}

@media (max-width: 649px) {
    div.curator-container {
        left: unset;
        right: 5%;
        transition-property: max-width, height, background-color, right;
    }
    div.curator-wrapper.active div.curator-container {
        /* left: 5%; */
        right: 2.5%;
        width: 95%;
        height: 86vh;
    }

    div.curator-wraper.active {
        width: 0;
    }

    #curator-transcript-button {
        order: 2;
    }
}


/* the vertically scrollable div with the transcript */
div.curator-transcript {
    /* state: transcript hidden */
    
    max-height: 0;
    overflow: hidden;
    color: #0000;
    transition: 300ms;
    transition-property: color, background-color, box-shadow, max-height;
    margin-top: 0.3em;
    padding: 0.3em;
}
div.curator-wrapper.active div.curator-transcript {
    /* state: transcript expanded */
    
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    
    overflow-y: auto;
    color: inherit;
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.342) inset;
    background-color: rgb(248, 242, 234);
}

/* transcript button and audio controls */
div.curator-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5em;
}

div.playback-controls {
    display: flex;
    height: 100%;
    justify-content: space-between;
    /* background-color: rgb(53, 53, 53); */
    background-color: rgb(70, 70, 70);

    border-radius: 0.15em;
    /* padding: 0 5px; */
}

#curator-transcript-button,
#playback-button,
#volume-button {
    display: block;
    width: 1.5em;
    height: 1.5em;
    padding: 0.2em;
    margin: 0;

    border-radius: 0.15em;
    /* background-color: rgb(53, 53, 53); */
    background-color: rgb(70, 70, 70);
    cursor: pointer;
    min-height: unset;
    box-shadow: unset;
}



/*-------------------------------------
       Modal image citation tags
-------------------------------------*/
div.painting-with-citation {
    z-index: 1;
}

div.painting-with-citation > a {
    min-height: 0;
    /* min height 0 allows it to shrink in the flex container */
    max-height: 100%;
    display: flex;
    margin: 0 auto;
}
div.painting-with-citation a > img{
    display: inline-block;
}

/* citation tag div (used in "romantismus  literatura  aktivita") */
div.painting-with-citation div.citation-tag {
    display: block;
    margin: 1em auto 0.5em;
    border-radius: 0.15em;
    background-color: rgb(245, 236, 225);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.205);
    z-index: -1;
    font-size: 80%;
    line-height: 1.6em;

    padding: 0;
    max-height: 0;
    opacity: 0;
    pointer-events: none;

    transition: 300ms;
    transition-property: all;
}




/*======================================
||   Classic targeted modal dialogs   ||
======================================*/

/* dialog container */
div.modal-dialog-overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 1em 2.3em;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms;
}
div.modal-dialog-overlay-container:target {
    opacity: 1;
    pointer-events: auto;
}

/* modal content */
div.modal-dialog-overlay {
    max-height: 100%;
    max-width: 100%;
    margin: auto 0px;
    padding: 1em 1.5em;
    overflow: auto;

    background: rgb(248, 242, 234);
    border: solid 0.5em rgb(173, 151, 84);
    box-shadow: -5px 15px 17px 15px rgba(0, 0, 0, 0.3);
}

/* the close link (whole background + a dummy x button) */
div.modal-dialog-overlay-container .modal-close,
div.modal-dialog-overlay-container .modal-close:hover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background: #0000;
    color: #0000;
}
div.modal-dialog-overlay::before {
    /* adding an x above of the modal -- a dummy X button*/
    position: fixed;
    right: 1em;
    top: 1em;
    width: 1em;
    height: 1em;
    z-index: -2;
    /* setting it underneath the close link */

    font-family: sans-serif;
    content: "×";
    text-align: center;
    line-height: 1.1em;

    color: rgb(0, 0, 0);
    background-color: rgb(128, 128, 128);
    opacity: 0.7;
}

/* an image inside of the modal */
div.modal-dialog-overlay img {
    width: auto;
    max-width: 90vw;
    max-height: 3000px;
    display: block;
    margin: 0 auto;
}

/* citation inside a modal */
div.modal-citation {
    padding: 1em 0em 0em;
    font-size: 80%;
    line-height: 1.5em;
    max-width: 40em;

    word-wrap: break-word;
}

@media (orientation: portrait) {
    div.modal-dialog-overlay-container {
        padding: 2.3em 1em;
    }
}


/* links/initializers */
a.modal-open:any-link {
    color: rgb(0, 179, 30);
    transition: 300ms;
    transition-property: all;
    text-decoration: underline;
}
a.modal-open:any-link:hover {
    color: rgb(0, 146, 24);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}




/*======================================
||            Other things            ||
======================================*/


/*------------------------------------------------------------
    Specific gallery spaces/tw-passages properties
------------------------------------------------------------*/

tw-passage[tags ~= "romantismuslitaktivita"] div.painting-with-citation {
    max-width: 100%;
}

tw-passage[tags ~= "baroque"] img {
    max-height: 600px;
}

tw-passage[tags ~= "vstup"] {
    width: 30em;
    max-width: 95%;
    text-align: center;
}
tw-passage[tags ~= "vstup"] tw-link {
    font-size: 130%;
}

tw-passage[tags ~= "beginning"] div.curator-container {
    left: 20px;
}


/*---------------------------------------
      Gallery routes color coding
---------------------------------------*/

/* tw-story[tags ~= "beginning"] {
    border-bottom: solid blue 0.5em;
} */

/* entrance wall space color stripes */
div.gallery-wall-space.baroque::after,
div.gallery-wall-space.romantism::after,
div.gallery-wall-space.industrialism::after {
    content: "";
    position: absolute;
    bottom: 50%;
    transform: translateY(50vh);
    
    width: 100%;
    height: 1.2em;
}
div.gallery-wall-space.baroque::after {
    background-color: rgb(183, 94, 211);
}
div.gallery-wall-space.romantism::after {
    background-color: rgb(241, 167, 144);
}
div.gallery-wall-space.industrialism::after {
    background-color: rgb(161, 235, 235);
}

/* passage color stripes */
tw-story[tags ~= "baroque"],
tw-story[tags ~= "romantism"],
tw-story[tags ~= "industrialism"] {
    border-bottom: solid 0.8em;
}
tw-story[tags ~= "baroque"] {
    border-bottom-color: rgb(183, 94, 211);
}
tw-story[tags ~= "romantism"] {
    border-bottom-color: rgb(241, 167, 144);
}
tw-story[tags ~= "industrialism"] {
    border-bottom-color: rgb(161, 235, 235);
}



/*------------------------------
    EU grant stuff and logos
------------------------------*/

.logo {
    height: auto;
    max-height: 100px;
    box-shadow: none;
}

.logotext {
    /* eu project disclaimer */
    font-size: small;
    line-height: 1.4em;
    text-align: center;
}
.logolink {
    /* eu project disclaimer */
    display: block;
    margin: 3em auto 1em;
    box-shadow: none;
}


/*------------------------------
    credits page adjustments 
------------------------------*/

div.flex-columns {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5em;
}
div.flex-columns > div {
    width: 50%;
    min-width: 11em;
    flex-grow: 1;
    padding-right: 1em;
}
div.flex-columns > div.last-column {
    padding-right: 0em;
}

tw-passage[tags ~= "credits"] .logo {
    max-width: 12em;
}
tw-passage[tags ~= "credits"] ul {
    margin: 0.2em 0em;
    padding: 0.5em;
    list-style: none;
    padding-top: 0;
    margin-top: -10px;
}
tw-passage[tags ~= "credits"] li {
    margin: 0.2em 0em;
    padding: 0em 1em;
}
tw-passage[tags ~= "credits"] li.category {
    margin: 0.2em 0em;
    padding: 0em;
}
img#muni-logo,
img#muni-logo-econ {
    margin-left: -13px;
}
img#muni-logo-teiresias {
    margin-left: -5px;
    max-height: 130px;
}
img#mzk-logo {
    padding: 10px 0px 20px 0px;
    margin: 0;
}
ul#jan-rychly,
ul#voiceover {
    margin-top: 0.25em;
    max-width: 10em;
    border-top: solid #0000DC 0.2em
}


