@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}

/* ======================
    basic Twine elements 
   ====================== */
tw-story {
    padding: 80px 10%;
    min-height: 100%;

    background-position: center;
    background-attachment: fixed;

    font-family: 'Poppins', sans-serif;
}
tw-story[tags ~= "station"],
tw-story[tags ~= "charity"] {
    background-image: url("images/train-station-1.jpeg");
}
tw-story[tags ~= "freedom-square"] {
    background-image: url("images/square-9.jpeg");
}
tw-story[tags = ""] {
    background-image: url("images/side-alley-6.jpeg");
}
tw-story[tags ~= "debriefing"] {
    background-image: url("images/stack_of_books.jpg");
    background-color: rgb(71, 71, 71);
}

tw-passage {
    padding: 40px;
    max-width: 1000px;
    width: 100%;
    align-self: center;

    background-color: white;
    color: black;
}

tw-story tw-consecutive-br {
    height: 1em;
}

tw-sidebar, tw-sidebar *[alt] {
    /* TODO REMOVE!!!! */
    color:rgb(0, 214, 36);
    opacity: 0.6;
    /* display: none; */
}
@media (max-width: 649px) {
    /* TODO REMOVE!!!! */
    tw-sidebar {
        position: fixed;
        top:-40px;
    }
}

/* =========================
   Responsivness adjustments
   ========================= */
@media (max-width: 649px) {
    /* narrow screen */
    tw-story {
        padding: 5%;
    }
    tw-passage {
        margin-top: 30px;
        /* leave space for ui */
        /* padding: 2em; */
        font-size: 85%;
        line-height: normal;
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 70px;
    }
    /* tw-passage[tags="title-passage"] {
        padding: 0.7em;
    } */
}

/* ===========
   Twine LINKS
   =========== */
tw-link,
tw-link.visited,
.enchantment-link,
.enchantment-link.visited {
    display: inline-block;
    padding: 0.35em 0.8em;
    margin: 0.4em auto;
    min-width: 350px;
    max-width: 100%;
    border: #0000dc 0.18em solid;
    /* background-color: #e6f1ff; */
    color: #0000dc;

    transition: 400ms;
    transition-property: all;
}
@media (max-width: 500px) {
    tw-link,
    tw-link.visited,
    .enchantment-link,
    .enchantment-link.visited {
        min-width: 100%;
    }
}
/* hover link button */
tw-link:hover,
tw-link:focus,
tw-link.visited:hover,
tw-link.visited:focus,
.enchantment-link:hover,
.enchantment-link.visited:hover,
.enchantment-link:focus,
.enchantment-link.visited:focus {
    transform: translateX(1em);

    color: #fff;
    background-color: #0000dc;
}
/* activated link button */
tw-link:active,
tw-link.visited:active,
.enchantment-link:active,
.enchantment-link.visited:active {
    /* todo */
    opacity: 1;
}
/* .enchantment-link {
    color: #0000dc;
    padding: 0 0.2em;
    border-radius: 0.3em;
    transition: 300ms;
    transition-property: background-color;
} */
/* .enchantment-link:hover {
    color: black;
    background-color: #75a1ff;
} */


/* ================
        modals
   ================ */
.modalDialog {
    /* dialog container */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 6vh 4vw;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    /* modal content */
    max-width: 45em;
    flex-grow: 0;
    margin: auto 0px;
    padding: 15px;

    background: #fff;
    box-shadow: -5px 10px 10px 20px rgba(0, 0, 0, 0.226);
}
.modalDialog > div::after {
    /* invisible "padding" to ensure user can scroll
        all the way to the bottom of the bubble
        (that is past its border bc shadow/glow fx) */
    content: "";
    position: absolute;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    height: 60px;
    width: 1px;
}
@media (max-width: 649px) {
    /* narrow screen */
    .modalDialog > div {
        padding: 10px;
    }
}

.modalDialog .close,
.modalDialog .close:hover {
    /* close link */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background: #0000;
    color: #0000;
}
.modalDialog > div::before {
    /* adding an x above of the modal */
    position: absolute;
    right: 0.15em;
    top: -1.35em;
    width: 1em;
    height: 1em;
    z-index: -2;
    /* setting it underneath the close link */

    font-family: sans-serif;
    content: "×";
    text-align: center;
    line-height: 1.1em;

    color: rgb(0, 0, 0);
    background-color: rgb(70, 70, 70);
    opacity: 0.5;
}

.modalDialog img {
    width: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


a.inmod:any-link {
    color: rgb(0, 179, 30);
    transition: 300ms;
    transition-property: all;
    text-decoration: underline;
}
a.inmod:any-link:hover {
    color: rgb(0, 146, 24);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

/* ================
    <a> hyperlinks
   ================ */
a:link,
a:link:hover {
    color: hsl(170, 98%, 40%);
    text-decoration: underline;
}
a:visited,
a:visited:hover {
    color: hsl(182, 100%, 27%);
    text-decoration: underline;
}
.hyper {
    --hyper-color: hsl(170, 98%, 40%);
    color: var(--hyper-color);
    text-decoration: underline;

    transition: 300ms;
    transition-property: color, text-shadow;
}
.hyper:hover {
    color: hsl(170, 100%, 33%);
    text-shadow: 0 0 0.05em var(--hyper-color);
}
.hyper:visited {
    --hyper-visited-color: hsl(182, 100%, 27%);
    color: var(--hyper-visited-color);
}
.hyper:visited:hover {
    color: hsl(182, 100%, 20%);
    text-shadow: 0 0 0.05em var(--hyper-visited-color);
}


.imbox {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.imbox img {
    box-shadow: -2px 5px 6px 1px rgba(0, 0, 0, 0.274);
}
.imbox .citace {
    display: none;
}

.inlimg {
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.citace {
    margin: 1em 5px 0px;
    text-align: right;
    font-size: 70%;
    line-height: 1.4em;
}

/* modal initializer images */
.cimage {
    width: 100%;
    display: block;
}

/* TODO youtube */
.tube {
    max-width: 40em;
    /* height: 640px; */
    display: block;
    margin: 0 auto;
}

.logo {
    height: auto;
    max-height: 100px;
}

