@font-face {
    /* https://www.dafont.com/jmh-typewriter.font */
    font-family: jmh_typewriter;
    src: url(jmh_typewriter/jmh_typewriter.otf);
    font-weight: normal;
}
@font-face {
    /* https://www.dafont.com/jmh-typewriter.font */
    font-family: jmh_typewriter;
    src: url(jmh_typewriter/jmh_typewriter-bold.otf);
    font-weight: bold;
}
@font-face {
    /* https://www.dafont.com/jmh-typewriter.font */
    font-family: jmh_typewriter;
    src: url(jmh_typewriter/jmh_typewriter-thin.otf);
    font-weight: thin;
}

body {
    height: 100%;
}
/* special Harlow selectors */
tw-story {
    min-height: 100%;
	background-color: rgb(207, 201, 198);
    background-image: url("desk_placeholder.jpg");
    background-position: top center;
    background-attachment: fixed;
    background-size: auto;

    padding: 5% 12% 0%;

    color: black;
    font-size: 150%;
    font-family: jmh_typewriter, Georgia, 'Times New Roman', Times, serif;
}
tw-passage {
    background-color: rgb(250, 240, 237);
    width: 100%;
    max-width: 1000px;
    align-self: center;

    flex-grow: 1;
    padding: 3em 3em 80px;
    
    box-shadow: 2px 4px 6px 1px #000000a1;
}
tw-passage[tags="title-passage"] {
    font-size: xx-large;
}
tw-passage[tags="title-passage"] img {
    width: 10em;
    max-width: 100%;
    padding: -5px;
}
tw-link {
    /* background-color:#FFFFFF; */
    /* border-radius: 0px; */
  	/* border:2px solid; */
    display:inline-block;
    cursor:pointer;
    color:#0000DC;
    font-weight:bold;
    padding:5px 15px;
    text-decoration:none;
    margin: 0;
  	transition: 0.2s;
}
tw-link:hover {
    background-color:#030349;
  	color: #FFFFFF;
    border-color: #030349;
}
tw-story tw-consecutive-br {
    height: 1em;
}
tw-sidebar {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/* responsivity adjustments */
/* narrow screen */
@media (max-width: 649px) {
    tw-story {
        padding: 5% 5% 0%;
    }
    tw-passage {
        margin-top: 30px;
        font-size: small;
        line-height: normal;
    }
    tw-sidebar {
        position: absolute;
        left: 5%;
        top: -100px;

        -ms-flex-direction: row;
        flex-direction: row;
        width: 90%;
    }
}
/* wider screen */
@media (min-width: 650px) {
    tw-sidebar {
        position: absolute;
        left: -80px;

        -ms-flex-direction: column;
        flex-direction: column;
        width: 3em;
    }
}
/* standard css selectors */
img {
    max-width: 100%;
}
div {
    max-width: 100%;
}
div.obr-s-citaci {
    margin: 0px;
    padding: 0px;

    line-height: 1.2em;
    font-size: 70%;
    word-wrap: break-word;

    max-width: fit-content;

}
div.obr-s-citaci img {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 2px 4px 6px 1px #000000a1;
}
div.obr-s-citaci.neporadne {
    margin: 0% 10% 0%;
    transform: rotate(-1deg);
    max-width: fit-content;
}
div.obr-s-citaci.max-600 {
    width: auto;
    max-width: 600px;
}
div.obr-s-citaci.max-500 {
    width: auto;
    max-width: 500px;
}
div.obr-s-citaci.max-400 {
    width: auto;
    max-width: 400px;
}
div.obr-s-citaci.max-300 {
    width: auto;
    max-width: 300px;
}
iframe {
    max-width: 100%;
}